* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

header .header {
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
  font-family: "Roboto", sans-serif;
  margin-bottom: -25px;
  margin-top: -10px;
  background-color: #fff;
}
header .header .links {
  display: flex;
  padding: 12px 0px;
}
header .header .links ul {
  list-style: none;
}
header .header .links ul .home {
  color: #EA512e;
}
header .header .links ul a {
  text-decoration: none;
  font-weight: 700;
  color: #1b0238;
}
header .header .links ul a i {
  font-size: 10px;
}
header .header .links ul a:hover {
  color: #EA512e;
}
header .header .right-part {
  display: flex;
  padding: 10px 0px;
  gap: 20px;
}
header .header .right-part a {
  text-decoration: none;
  display: inline-block;
  font-weight: 700;
  color: #1b0238;
  vertical-align: middle;
}
header .header .right-part a i {
  font-size: 10px;
}
header .header .right-part div {
  margin-top: -13px;
}
header .header .right-part .btn {
  background-color: #EA512e;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  font-weight: 500;
  padding: 12px 45px;
  border: 1px solid #EA512e;
  vertical-align: middle;
}
header .header .right-part .btn:hover {
  background-color: #f5890d;
}
header .header .dropdown {
  position: relative;
  display: inline-block;
}
header .header .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 280px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  z-index: 1;
}
header .header .dropdown .dropdown-content .main {
  color: #EA512E;
}
header .header .dropdown .dropdown-content a {
  padding: 10px 0;
  margin-top: 5px;
  text-decoration: none;
  display: block;
}
header .header .dropdown:hover .dropdown-content {
  display: block;
}

main #hero-section {
  background-color: #f5edec;
  padding: 30px;
}
main #hero-section .left-part {
  align-items: center;
  margin: 8rem 0px 0px 0px;
}
main #hero-section .left-part span {
  font-size: 16px;
  color: #ea512e;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
main #hero-section .left-part h1 {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Catamaran", sans-serif;
  color: #1b0238;
  font-weight: bold;
}
main #hero-section .left-part p {
  color: #6b6b84;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
main #hero-section .left-part .buttons {
  margin-top: 35px;
}
main #hero-section .left-part .buttons .learn {
  padding: 12px 35px;
  background-color: #ea512e;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
}
main #hero-section .left-part .buttons .learn:hover {
  background-color: #f5890d;
}
main #hero-section .left-part .buttons .find {
  padding: 12px 35px;
  background-color: #f5890d;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}
main #hero-section .left-part .buttons .find:hover {
  background-color: #EA512E;
}
main #hero-section .image img {
  width: 700px;
}
main #hero-section .image {
  position: relative;
}
main #hero-section .first-img {
  position: absolute;
  top: 0;
  left: 0;
}
main .images img {
  position: absolute;
  top: 112px;
  left: 50%;
  width: 100px;
}
main .images .shape {
  position: absolute;
  top: 80px;
  left: 0;
  width: 210px;
}
main .images .img {
  position: absolute;
  top: 37rem;
  left: 0;
  z-index: 1;
  width: 230px;
}
main .images .owl {
  position: absolute;
  top: 40rem;
}

#information-section {
  padding-top: 100px;
  padding-bottom: 100px;
}
#information-section .information span {
  font-family: "Sacramento", cursive;
  font-size: 20px;
  color: #ea512e;
  font-weight: 600;
}
#information-section .information h3 {
  font-size: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 650;
}
#information-section .information p {
  color: #6b6b84;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
#information-section .information .about-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
#information-section .information .about-list span {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #ea512e;
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  margin-left: -40px;
}
#information-section .information .about-list span:hover {
  background-color: #f5890d;
}
#information-section .information .about-list li {
  width: 50%;
  padding: 7px;
  font-weight: 500;
}
#information-section .information .button button {
  padding: 12px 35px;
  background-color: #ea512e;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}
#information-section .information .button button:hover {
  background-color: #f5890d;
}
#information-section .img img {
  width: 650px;
}

#activities-section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
}

.activities-item {
  display: flex;
}
.activities-item .number {
  width: 150px;
  height: 60px;
  border-radius: 50%;
  background-color: #EA512E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activities-item .number span {
  font-size: 30px;
  font-weight: 600;
  font-family: "Catamaran", sans-serif;
}
.activities-item .music {
  background-color: #fdbea8;
}
.activities-item .kids-day {
  background-color: #b6fdd6;
}
.activities-item .full-day {
  background-color: #fd91a8;
}
.activities-item .art {
  background-color: #fce0ad;
}
.activities-item .museum {
  background-color: #cca0fe;
}
.activities-item .number:hover {
  color: #fff;
  background-color: #f5890d;
}
.activities-item .text {
  margin-left: 20px;
}

.text h3 {
  color: #1b0238;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.text p {
  color: #6b6b84;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.text .btn {
  font-size: 16px;
  color: #ea512e;
  font-weight: 600;
  margin-left: -13px;
}
.text h3:hover {
  color: #f5890d;
}

.title {
  text-align: center;
  margin-bottom: 45px;
}
.title span {
  font-family: "Sacramento", cursive;
  font-size: 20px;
  color: #ea512e;
  font-weight: 600;
}
.title h2 {
  font-size: 45px;
  margin-top: 15px;
  font-family: "Catamaran", sans-serif;
  color: #1b0238;
  font-weight: bold;
}

#classes {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("/assets/images/class-shape-2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 280px;
}
#classes .class .class-img img {
  width: 380px;
  border-radius: 5px 5px 0 0;
}
#classes .class .class-content {
  background-color: #ffffff;
  padding: 45px 30px 30px;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  width: 380px;
}
#classes .class .class-content h3 {
  font-size: 25px;
  margin-bottom: 15px;
  font-family: "Catamaran", sans-serif;
  color: #1b0238;
  font-weight: bold;
}
#classes .class .class-content p {
  color: #6b6b84;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
#classes .class .about ul {
  list-style: none;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px dashed #ea512e;
  padding-left: 0;
  display: flex;
  gap: 10px;
}
#classes .class .about ul span {
  color: #ea512e;
  font-size: 15px;
  font-weight: 500;
}
#classes .class .about ul li {
  font-size: 15px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
#classes .class .join button {
  padding: 10px 30px;
  background-color: #ea512e;
  text-decoration: none;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  border: none;
}

#events-section {
  background-image: url("/assets/images/event-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 100px;
}
#events-section .event-title {
  text-align: center;
  margin-bottom: 45px;
  padding-top: 100px;
}
#events-section .event-title span {
  font-family: "Sacramento", cursive;
  font-size: 20px;
  color: #ffffff;
  font-weight: 600;
}
#events-section .event-title h2 {
  font-size: 45px;
  margin-top: 15px;
  font-family: "Catamaran", sans-serif;
  color: #ffffff;
  font-weight: bold;
}
#events-section .event-box {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 30px;
  width: 650px;
  height: 200px;
}
#events-section .event-box .event-img {
  padding-top: 20px;
}
#events-section .event-box .event-img img {
  width: 127px;
}
#events-section .event-box .event-content h3 {
  font-size: 25px;
  color: #1b0238;
  font-family: "Catamaran", sans-serif;
  font-weight: 700;
  margin-left: 25px;
}
#events-section .event-box .event-content ul {
  list-style: none;
  margin-top: 20px;
  padding-left: 0;
}
#events-section .event-box .event-content ul i {
  font-size: 20px;
  color: #ea512e;
}
#events-section .event-box .event-content ul li {
  font-size: 15px;
  font-weight: 530;
  margin-bottom: 12px;
  padding-left: 25px;
  font-family: "Catamaran", sans-serif;
}
#events-section .event-box .event3 {
  padding-left: 35px;
}
#events-section .event-box .event2 {
  padding-left: 40px;
}
#events-section .event-box .event4 {
  padding-left: 40px;
}
#events-section .event-box .event-date {
  text-align: center;
  padding-top: 10px;
}
#events-section .event-box .event-date h4 {
  font-size: 80px;
  color: #ea512e;
  margin-bottom: 0;
  font-family: "Catamaran", sans-serif;
  font-weight: bold;
}
#events-section .event-box .event-date span {
  font-size: 20px;
  color: #ea512e;
  margin-top: 10px;
  font-weight: 500;
}

#facilities-section {
  padding-top: 100px;
}/*# sourceMappingURL=style.css.map */